.radioView {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto 20px;
    padding: 40px;
}

.headerBar {
    display: flex;
    justify-content: space-between;
}

.walletIdEntry {
    padding: 0;
    margin-bottom: 8px;
}

.walletInput {
    width: 100%;
    margin-bottom: 8px;
    padding: 6px 4px;
    border: 1px solid #E5E5E5;
}

.selectPlaylist {
    margin-left: auto;
    align-self: flex-start;
    padding: 6px 4px;
    border: 1px solid #E5E5E5;
}

.button_getObjktData {
    padding: 4px 3px;
}

@media screen and (min-width: 600px) {
    .walletInput {
        max-width: 320px;
    }
    .button_getObjktData {
        margin-left: 8px;
        padding: 4px 3px;
    }
}
