
.playlistContainer {
    margin-top: 24px;
    margin-bottom: 10px;
}

.playlistGrid {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    grid-auto-rows: 1fr;
}

.playlistGrid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.playlistGrid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.playlistTitle {
    font-size: 14px;
    margin-bottom: 10px;
}

.playlistButton {
    width: 120px;
    display: block;
    padding: 0 0 12px 0;
    border: none;
}

.playlistImage {
    height: 120px;
    width: 120px;
}

.playlistText {
    font-size: 10px;
    text-align: center;
    margin-top: 6px;
    word-break: break-all;
    hyphens: auto;
}

.searchInput {
    width: 100%;
    margin-bottom: 8px;
    padding: 6px 4px;
    border: 1px solid #E5E5E5;
}

.filteredPlaylists {
}

.filteredPlaylists_row {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.filteredPlaylists_info {
    width: 100%;
    margin-left: 12px;
}

.filteredPlaylists_title {
    font-size: 14px;
    margin: 0;
}

.filteredPlaylists_subTitle {
    font-size: 14px;
    margin: 0 0 8px 0;
}

.filteredPlaylistsRow_tracks {
    display: flex;
    justify-content: flex-start;
}

.trackRow {
    display: flex;
    width: 100%;
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #E5E5E5;
    align-items: center;
}

.trackRow_text {
    display: block;
    font-size: 11px;
}

.trackRow_link {
    color: #000;
    text-decoration: none;
}

.trackRow_link:active, .trackRow_link:focus, .trackRow_link:visited {
    color: #000;
    text-decoration: underline;
}

.trackRow_avatar {
    width: 26px;
    height: auto;
    overflow: hidden;
    border-radius: 13px;
    margin: 0 0 0 auto;
    flex-shrink: 0;
}

@media screen and (min-width: 600px) {
    .searchInput {
        max-width: 320px;
    }

    .trackRow_text {
        display: block;
        font-size: 14px;
    }
}
