.trackRow {
    display: flex;
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #E5E5E5;
    align-items: center;
}

.trackRow_text {
    display: block;
    font-size: 11px;
    margin-left: 8px;
}

.trackRow_link {
    color: #000;
    text-decoration: none;
}

.trackRow_link:active, .trackRow_link:focus, .trackRow_link:visited {
    color: #000;
    text-decoration: underline;
}

.trackRow_avatar {
    width: 26px;
    height: auto;
    overflow: hidden;
    border-radius: 13px;
    margin: 0 0 0 auto;
    flex-shrink: 0;
}

.button {
    border: none;
    background: none;
}

.playerControlIcon_small {
    width: 12px;
    height: 12px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 8px;
}

.button_play_small svg {
    width: 12px;
    height: auto;
}

.button_pause_small svg {
    width: 12px;
    height: auto;
}

.icon_loading_small svg {
    width: 12px;
    height: auto;
}

.filterTabs {
    display: flex;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #E5E5E5;
}

.filterButton {
    font-size: 11px;
    margin-right: 8px;
    border-right: none;
    border-bottom: none;
}

.selected {
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    .trackRow_text {
        display: block;
        font-size: 14px;
        margin-left: 12px;
    }

    .filterButton {
        font-size: 14px;
    }
}
