.radioPlayerContainer {
}

.button {
    border: none;
    background: none;
}

.controlsHolder {
    display: flex;
    align-content: center;
}

.button_playerControl {
    width: 40px;
    height: 32px;
    padding: 3px 0 0 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button_playerControl svg {
    fill: #000000;
}

.button_play svg {
    margin-right: 8px;
    width: 16px;
    height: auto;
}

.button_pause svg {
    margin-right: 8px;
    width: 17px;
    height: auto;
}

.button_playerControl_small {
    width: 14px;
    height: 14px;
    padding: 3px 0 0 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button_play_small svg {
    width: 11px;
    height: auto;
}

.button_pause_small svg {
    width: 12px;
    height: auto;
}

.button_mute svg {
    margin-left: 8px;
    width: 24px;
    height: auto;
}

.button_unmute svg {
    margin-left: 8px;
    width: 24px;
    height: auto;
}

.playerBar {
    display: flex;
    justify-content: flex-start;
    padding: 8px 0;
}

.runningTime {
    margin-left: 8px;
    padding-top: 4px;
}

.currentTrack {
    padding: 4px 0 0 16px;
    margin-bottom: 8px;
}

.nextPrevControls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0;
    margin-bottom: 16px;
}

.button_nextTrack {
    margin-left: 8px;
}

.button_prevTrack {
}

.trackRow {
    display: flex;
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #000;
}

.trackRow_text {
    font-size: 14px;
}

.trackRow_link {
    margin-left: 8px;
    color: #000;
    text-decoration: none;
}
.trackRow_link:active, .trackRow_link:focus, .trackRow_link:visited {
    color: #000;
    text-decoration: underline;
}

input[type="range"].radioRange {
    -webkit-appearance: none;
    background-color: transparent;
    width: 100%;
    position: relative;
    top: -2px;
    margin: 11.5px 0;
}

input[type="range"].radioRange:focus {
    outline: none;
}

input[type="range"].radioRange::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(7, 7, 17, 0.15), 0 0 1px rgba(79, 176, 81, 0.2);
    background: #151515;
    border-radius: 8px;
    border: 0 solid rgba(79, 176, 81, 0.2);
}

input[type="range"].radioRange::-webkit-slider-thumb {
    box-shadow: 2.1px 2.1px 3.8px rgba(7, 7, 17, 0.15), 0 0 2.1px rgba(14, 14, 35, 0.15);
    height: 20px;
    width: 6px;
    border-radius: 4.5px;
    background: #1d1d1b;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}

input[type="range"].radioRange:focus::-webkit-slider-runnable-track {
    background: #151515;
}

input[type="range"].radioRange::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(7, 7, 17, 0.15), 0 0 1px rgba(79, 176, 81, 0.2);
    background: #151515;
    border-radius: 8px;
    border: 0 solid rgba(79, 176, 81, 0.2);
}

input[type="range"].radioRange::-moz-range-thumb {
    box-shadow: 2.1px 2.1px 3.8px rgba(7, 7, 17, 0.15), 0 0 2.1px rgba(14, 14, 35, 0.15);
    height: 20px;
    width: 6px;
    border-radius: 4.5px;
    background: #1d1d1b;
    cursor: pointer;
}

input[type="range"].radioRange::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type="range"].radioRange::-ms-fill-lower {
    background: #151515;
    border: 0 solid rgba(171, 171, 171, 0.2);
    border-radius: 4.5px;
    box-shadow: 1px 1px 1px rgba(145, 145, 145, 0.4), 0 0 1px rgba(171, 171, 171, 0.2);
}

input[type="range"].radioRange::-ms-fill-upper {
    background: #151515;
    border: 0 solid rgba(171, 171, 171, 0.2);
    border-radius: 4.5px;
    box-shadow: 1px 1px 1px rgba(145, 145, 145, 0.4), 0 0 1px rgba(171, 171, 171, 0.2);
}

input[type="range"].radioRange::-ms-thumb {
    box-shadow: 2.1px 2.1px 3.8px rgba(7, 7, 17, 0.15), 0 0 2.1px rgba(14, 14, 35, 0.15);
    width: 6px;
    border-radius: 4.5px;
    background: #1d1d1b;
    cursor: pointer;
    height: 4px;
}

input[type="range"].radioRange:focus::-ms-fill-lower {
    background: #151515;
}

input[type="range"].radioRange:focus::-ms-fill-upper {
    background: #151515;
}
