.footerBar {
    margin-top: auto;
    width: 90%;
    max-width: 764px;
    padding-bottom: 170px;
}

.footerTitle {
    font-size: 9px;
}

.footerText {
    font-size: 9px;
}

@media screen and (min-width: 600px) {
    .footerBar {
        padding-bottom: 20px;
    }

    .footerTitle {
        font-size: 12px;
    }

    .footerText {
        font-size: 12px;
    }
}
